html, body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100px;
  line-height: 1;
}

body {
  font-size: 0.24rem;
  background-color: #0a1b21;
}

h1 {
  font-size: 0.52rem;
}

h2 {
  font-size: 0.36rem;
  font-weight: 500;
}

h3 {
  font-size: 0.32rem;
  font-weight: 500;
}

p {
  font-size: 0.28rem;
}

.gradient-bg {
  background: linear-gradient(180deg, rgba(84, 88, 169, 0) 0%, rgba(21, 79, 163, 0.4) 100%);
  border-bottom: 0.02rem solid #0F2E60;
}
