html, body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100px;
  line-height: 1;
}

body {
  font-size: 0.24rem;
  background-color: #0a1b21;
}

h1 {
  font-size: 0.52rem;
}

h2 {
  font-size: 0.36rem;
  font-weight: 500;
}

h3 {
  font-size: 0.32rem;
  font-weight: 500;
}

p {
  font-size: 0.28rem;
}

.gradient-bg {
  background: linear-gradient(180deg, rgba(84, 88, 169, 0.2) 0%, rgba(21, 79, 163, 0.4) 100%);
  border: 0.01rem solid #0F2E60;
}

.row-style1 {
  height: 100%;
  >.m-column {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.clickAble{
  cursor: pointer;
  
  &:hover{
    color:#fff !important;
  }
}
.in-flex {
  height: 0;
  flex: 1;
}

.in-flex-width {
  width: 0;
  flex: 1;
}
