/**custom scrollbar **/
body {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    margin: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #40abb2;
    border-radius: 0.03rem;
  }
  
  ::-webkit-scrollbar-thumb:vertical:hover {
    background: #40abb2;
  }
  
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #40abb2;
  }
}
