* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dialog-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgb(181, 223, 237);
  background-color: rgba(20, 59, 73, 0.8);
  padding: 3px;
}
.dialog-container:after{
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  padding: 0px 2px;
}
.dialog-title{
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  color: #fff;
  padding: 0px 3px;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dialog-name{
  float: left;
}
.dialog-name p {
  color: #ffc050;
  text-align: right;
}
.dialog-value p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}